{% extends 'store/index.html' %}
{% load static %}


{% block content %}

    <div class="row col-xs-12   ">
        <div class="col-xs-6">
            <div id="form" class="panel panel-primary">
                <div class="panel-heading">
                    <h4>Shipping Information</h4>
                </div>
                <div class="panel-body">
                    <input type="text" class="form-control" name="name" placeholder="Name">
                    <input type="text" class="form-control" name="email" placeholder="Email">
                    <div id="shipping-info">
                        <textarea type="text" row="10" col="30" class="form-control" name="address" placeholder="Address"></textarea>
                        <input type="text" class="form-control" name="city" placeholder="City">
                        <input type="text" class="form-control" name="state" placeholder="State">
                        <input type="text" class="form-control" name="zipcode" placeholder="Zipcode">
                        <input type="text" class="form-control" name="country" placeholder="Country">
                    </div>

                </div>
                <div class="panel-footer">
                    <button id="form-button" class="btn btn-success">Continue</button>
                </div>
            </div>

            <div class="hidden" id="payment-info">
                <small>Paypal Option</small>
                
            </div>


        </div>

        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <a class="btn btn-warning" href="{% url 'cart' %}">&#x2190 Back to cart</a>

                </div>
                <div class="panel-body">


                    <h3>Order Summary</h3>
                    {% for item in items %}
                    <table class="table">
                        <td style="flex:2 "><img class="row-image" src="{{item.product.image.url}}"></td>
                        <td style="flex:2">{{item.product.name}}</td>
                        <td style="flex:1">${{item.product.price}}</td>
                        <td style="flex:1"><p>x{{item.quantity}}</p></td>

                    </table>
                    {% endfor %}

                </div>
                <div class="panel-footer">
                    <h5>Items: {{order.get_cart_items}}</h5>
                    <h5><strong>Total: ${{order.get_cart_total}}</strong></h5>
                </div>
            </div>
        </div>
    </div>



<script type="text/javascript">
    var shipping='{{order.shipping}}'
    if (shipping=="False"){
        document.getElementById('shipping-info').innerHTML=''
    }
    
    var form=document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Form submitted..')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('payment-info').classList.remove('hidden')
    })



</script>


{% endblock content %}



