{% extends 'store/index.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}">


</head>
<body>
<h1>It's not displaying</h1>
<h1>Home page/ store front with all products</h1>

<img src="{% static "store/images/cart.jpg" %}">

{% block content %}

<div class="row">
    {% for product in products %}
    <div class="col-xs-4 thumbnail">
       <img src="{{product.image.url}}">        <!--<img src="{{product.imageURL}}">-->
        <div class="caption">
            <h3><strong>{{product.name}}</strong></h3>
            <hr>
            <button data-product={{product.id}} data-action="add" type="button" class="btn btn-success add-btn update-cart">Add to cart</button>
            <a class="btn btn-info" href="#">View</a>
            <h4 style="display: inline-black; float:right">${{product.price|floatformat:2}}</h4>
        </div>
    </div>
    {% endfor %}

</div>











{% endblock content %}


</body>
</html>